* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blueviolet;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow: rgb(199, 129, 37);
}
